<!-- Reusable Header HTML -->
<div class="nav-container" id="navContainer">
  <div class="nav-bar-background"></div>
  <nav>
    <button class="header-close-menu" aria-label="Close navigation menu">×</button>
    <ul class="header-nav-buttons">
      <li class="header-dropdown">
        <a class="text-black">Home</a>
        <ul class="header-dropdown-menu">
          <li><a href="index.html" class="text-black">Welcome</a></li>
          <li><a href="courses.html" class="text-black">Courses</a></li>
          <li><a href="sign-up.html" class="text-black">Sign Up</a></li>
          <li><a href="glossary.html" class="text-black">Glossary</a></li>
          <li><a href="leadership.html" class="text-black">Leadership</a></li>
          <li><a href="pictures.html" class="text-black">Pictures</a></li>
          <li><a href="banquets.html" class="text-black">Banquets</a></li>
        </ul>
      </li>
      <li class="header-dropdown">
        <a class="text-black">Parents</a>
        <ul class="header-dropdown-menu">
          <li><a href="letter.html" class="text-black">Welcome Letter</a></li>
          <li><a href="parent-info.html" class="text-black">Info</a></li>
        </ul>
      </li>
      <li class="header-dropdown">
        <a class="text-black">Judges</a>
        <ul class="header-dropdown-menu">
          <li><a href="instructions.html" class="text-black">Instructions</a></li>
          <li><a href="https://www.tabroom.com/index/index.mhtml" target="_blank" class="text-black">Tabroom Login</a></li>
        </ul>
      </li>
      <li class="header-dropdown">
        <a class="text-black">Info</a>
        <ul class="header-dropdown-menu">
          <li><a href="alumni.html" class="text-black">Alumni</a></li>
          <li><a href="Q-and-A.html" class="text-black">Q & A</a></li>
          <li><a href="practice-schedule.html" class="text-black">Practice</a></li>
          <li><a href="events.html" class="text-black">Events</a></li>
        </ul>
      </li>
      <li class="header-dropdown">
        <a class="text-black">Boosters</a>
        <ul class="header-dropdown-menu">
          <li><a href="volunteer.html" class="text-black">Volunteer</a></li>
          <li><a href="donate.html" class="text-black">Donate</a></li>
        </ul>
      </li>
      <li class="header-dropdown">
        <a href="contacts.html" class="text-black">Contacts</a>
      </li>
      <li class="header-dropdown">
        <a class="text-black">Quick Links</a>
        <ul class="header-dropdown-menu">
          <li><a href="https://www.tabroom.com/index/index.mhtml" target="_blank" class="text-black">Tabroom</a></li>
          <li><a href="https://www.speechanddebate.org/login/" target="_blank" class="text-black">NSDA</a></li>
          <li><a href="https://chssa.org/registration/" target="_blank" class="text-black">CHSSA</a></li>
        </ul>
      </li>
    </ul>
  </nav>
  <button class="header-hamburger-menu" aria-label="Open navigation menu">
    <span></span>
    <span></span>
    <span></span>
  </button>
</div>